body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Space Grotesk', sans-serif;
  width: 1440px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  display: flex;
  flex-direction: row;
}

#s1{
  width: 50%;
  background: 
    url("images/bg-main-desktop.png") 
    no-repeat left center / 65% 100%;
  color: hsl(0, 0%, 100%);
}

.card{
  width: 450px;
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px 25px 50px 12px;
  border-radius: 15px;
}

.front{
  background: 
    url("images/bg-card-front.png") 
    no-repeat left center / 100% 100%;
  margin: 20% 0 5% 20%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.front img{
  grid-column: span 2;
  margin: 5%;
}

.front h1{
  grid-column: span 2;
  margin: 5% 0 0 5%;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 2px;
}

.front h2{
  font-weight: 500;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 3px;
}

.cardName{
  margin: 5% 0 0 10%;
}

.cardDate{
  justify-self: end;
  margin: 5% 10% 0 0;
}

.back{
  background: 
    url("images/bg-card-back.png") 
    no-repeat left center / 100% 100%;
  margin: 0 0 20% 30%;
}

.back h2{
  font-weight: 500;
  font-size: 15px;
  padding: 25% 0 0 80%;
  letter-spacing: 3px;
}

#s2{
  width: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15% 0 15% 0;
  margin-left: 10%;
  grid-gap: 0 5%;
}

#s2 div{
  height: 75px;
}

#s2 label{
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
  margin-bottom: 1%;
}

#s2 input{
  height: 50px;
  border: solid 1px hsl(270, 3%, 87%);
  border-radius: 15px;
  color: hsl(278, 68%, 11%);
  font-size: 15px;
  font-family: 'Space Grotesk', sans-serif;
}

#s2 input:focus{
  outline-color: hsl(249, 99%, 64%);
}

#cardName, #cardNumb{
  padding-left: 5%;
}

.t1{
  grid-column: span 2;
  display: flex;
  flex-direction: column;
}

#s2 div{
  position: relative;
}

#s2 div p{
  color: hsl(0, 100%, 66%);
  font-size: 13px;
  position: absolute;
  bottom: -40%;
}

.t2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 0;
}

.t2 label{
  grid-column: span 2;
  height: 12px;
  padding: 0;
}

.t2 input{
  width: 75%;
  padding-left: 15%;
}

.t3{
  display: flex;
  flex-direction: column;
}

#cvc{
  padding-left: 7%;
}

#s2 button{
  grid-column: span 2;
  background-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  border-radius: 15px;
  font-size: 15px;
  letter-spacing: 3px;
  border-style: none;
  font-family: 'Space Grotesk', sans-serif;
  cursor: pointer;
}

#s3{
  display: none;
  flex-direction: column;
  padding: 20% 0 15% 0;
  margin-left: 10%;
  align-items: center;
}

#s3 img{
  width: 35%;
}

#s3 h3{
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 0;
}

#s3 p{
  color: hsl(279, 6%, 55%);
}

#s3 button{
  background-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  font-family: 'Space Grotesk', sans-serif;
  font-size: 15px;
  letter-spacing: 3px;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
  width: 150%;
  height: 50px;
  margin-top: 5%;
}

@media (max-width:375px){
  body{
    width: 375px;
  }

  main{
    flex-direction: column;
  }

  #s1{
    width: 100%;
    background: 
      url("images/bg-main-mobile.png") 
      no-repeat center top / 100% 80%;
    position: relative;
    height: 250px;
  }

  .card{
    width: 250px;
    height: 150px;
  }

  .front{
    position: absolute;
    margin: 0;
    left: 5%;
    bottom: 0%;
  }

  .front img{
    width: 20%;
  }

  .front h1{
    font-size: 15px;
  }

  .front h2{
    font-size: 7px;
  }

  .back{
      margin-left: 30%;
  }

  .back h2{
    font-size: 10px;
    padding-top: 26.5%;
    padding-left: 78%;
  }

  #s2{
    width: 90%;
    margin: 0 5%;
  }

  #s2 label{
    font-size: 9px;
  }

  #s2 input{
    height: 30px;
    border-radius: 5px;
    font-size: 12px;
  }

  #s2 div p{
    font-size: 7px;
    bottom: 10%;
  }

  .t2 input{
    margin-top: -35%;
  }

  #s2 button{
    height: 35px;
    border-radius: 5px;
    font-size: 13px;
  }

  #s3{
    width: 90%;
    margin: 0 5%;
  }

  #s3 img{
    width: 25%;
  }

  #s3 button{
    width: 100%;
    height: 35px;
    font-size: 13px;
    border-radius: 5px;
  }
}